.chat-main_header
  .chat-main_header--group
    %a.chat-main__header--group-edit-btn{:href => "/users/:id/edit"}
      edit
    .chat-main_header--group-name
      株式会社div

    .chat-main_header-members
      "
      MEMBER
      "
      seo

      樋口カンパニー
      
.chat-footer
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: "message", id: "new_comment", placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'submit'
